mixin renderProduct (data)
  block content
    section.product
      div.first-sight(style="background: url(" + data.firstSightBg + ") #000 center no-repeat; background-size: cover;")
        div.container
          h1.huge-text #{data.title}
          p.desc #{data.desc}
          a.link-btn(href=data.href) 立即体验
      div.first-sight-anchor
        div.container
          a(href="#two-sight") 应用场景
          a(href="#three-sight") 产品优势
          a(href="#four-sight") 核心功能
          a(href="#five-sight") 产品架构
          if data.relativeProducts
            a(href="#six-sight") 产品推荐
          a(href="#seven-sight") 案例客户
      div#two-sight.white-bg
        div.container.show-case
          div.show-case-title 应用场景
          div.component-tabs-wrap
            div.component-tabs
              each item, index in data.situations
                if index === 0
                  label.component-tab.tab-controller.active(for="tab" + index)
                    i.font_family(class=item.icon)
                    div.word-block #{item.name}
                else
                  label.component-tab.tab-controller(for='tab' + index)
                    i.font_family(class=item.icon)
                    div.word-block #{item.name}
            div
              each item, index in data.situations
                input(type="radio" name="tabRadio" checked=(index === 0) id="tab" + index)
                div.component-tab-content
                  div.left-side
                    img(src=item.img)
                  div.right-side
                    div.md-text.dark #{item.name}
                    div.pre-wrap #{item.desc}


      div#three-sight
        div.container.show-case
          div.show-case-title.mb60 产品优势
          div.flex
            each item in data.advantages
              div.scale-item
                i.font_family(class=item.icon)
                div.md-text.dark #{item.title}
                div.text #{item.desc}

      div#four-sight.product-media
        div.container.show-case
          div.show-case-title.white.mb60 核心功能
          div.media-warp
            each f in data.coreFuns
              div.media
                div.media-left
                  div.media-object
                    i.font_family(class=f.icon)
                div.media-body
                  h4.media-heading #{f.title}
                  div.media-content #{f.desc}

      div#five-sight.white-bg
        div.container.show-case.artichet
          div.show-case-title.mb60 产品架构
          div.text-center
            if !data.techArt.isHide && !data.businessArt.isHide
              label.tab-controller.link-btn(for="businessArt").active 业务架构
              label.tab-controller.link-btn(for="techArt") 技术架构
          div.tab-content-container
            input(type="radio" name="artichet" checked="checked")#businessArt.hide.artichet-radio
            div.tab-content
              div.wide-figure
                div.figure-box
                  if data.businessArt.title
                    p.md-text.dark #{data.businessArt.title}
                  if data.businessArt.desc
                    div(style="margin-bottom: 40px") #{data.businessArt.desc}
                  if data.businessArt.solutions
                    each item in data.businessArt.solutions
                      div.figure
                        i.font_family.figure-img(class=item.icon)
                        div.figure-text
                          div.figure-title #{item.title}
                          span #{item.desc}
                img(src=data.businessArt.img)

            if !data.techArt.isHide
              input(type="radio" name="artichet")#techArt.hide.artichet-radio
              div.tab-content
                div.wide-figure
                  div.figure-box
                    if data.techArt.title
                      p.md-text.dark #{data.techArt.title}
                    if data.techArt.desc
                      div(style="margin-bottom: 40px") #{data.techArt.desc}
                    if data.techArt.solutions
                      each item in data.techArt.solutions
                        div.figure
                          i.font_family.figure-img(class=item.icon)
                          div.figure-text
                            div.figure-title #{item.title}
                            span #{item.desc}
                  img(src=data.techArt.img)

      if data.relativeProducts
        div#six-sight
          div.container.show-case
            div.show-case-title.mb60 相关产品推荐
            div.flex
              each item in data.relativeProducts
                div.scale-item
                  i.font_family(class=item.icon)
                  div.md-text.dark #{item.title}
                  div.text #{item.desc}
                  if item.href
                    a.link-btn(href=item.href) 立即体验

      div.show-case.white-bg#seven-sight
        div.show-case-title.dark.mb60 案例客户
        div.slider.flex.container
          div.arrow-box.arrow-left-box
            i.arrow-left
          div.slider-container
            each item, index in data.cases
              if index === 0
                div.slider-figure.active
                  img.figure-img(src=item.img)
                  div.figure-text
                    div.figure-title #{item.title}
                    span #{item.desc}
              else
                div.slider-figure
                  img.figure-img(src=item.img)
                  div.figure-text
                    div.figure-title #{item.title}
                    span #{item.desc}
          div.arrow-box.arrow-right-box
            i.arrow-right
  block script
    script.
      $('.tab-controller').on('click', function (e) {
        var $this = $(this)

        $this.addClass('active')
        $this.siblings().removeClass('active')
      })
    include ../snippet/slider.jade

