extends layout.jade
//- block 紧跟 extends, 不需要缩进
block title
  title 云徙科技
block content
  include var/solutions.jade
  include var/products.jade
  include var/product-lines.jade
  include var/get-img-url.jade

  mixin renderProductItem (items)
    each item in items
      a.service-item.flex(href=item.href)
        div
          div.item-flex
            span.title #{item.title}
            if item.label
              span.label(class=item.labelClass) #{item.label}
          span.desc-text #{item.desc}
        i.arrow-right

  -
    var pageName = 'index'

  div.index
    //div.first-sight
      div.container
        h1.huge-text 企业数字化平台，专业级的数字化平台
        div.msg.f24 新品钜惠专享，领券立减
          span.red 1888元
        div: a.link-btn.linear-primary-bg-to-right 立即体验

    div.slider.flex
      div.arrow-box.arrow-left-box.pc
        i.arrow-left
      div.slider-container
        each item in [1, 2, 3]
          img.slider-img(src=getImgUrl(pageName, item))
      div.arrow-box.arrow-right-box.pc
        i.arrow-right

    include snippet/we-do.jade
    div.divider
    div.show-case.text-center.service-provider
      div.show-case-title.dark 智能时代领先的数字化服务商
      span 赋能企业数字化创新，阿里云战略生态合作伙伴
      div.container.flex.i-product-container
        div.container-item.i-product(data-tab="tab1").active
          div.f18 #{productLines.iMarketing.name}
          span.f16 #{productLines.iMarketing.en}
        div.container-item.i-product(data-tab="tab2")
          div.f18 #{productLines.iSales.name}
          span.f16 #{productLines.iSales.en}
        div.container-item.i-product(data-tab="tab3")
          div.f18 #{productLines.iDigitalPlatform.name}
          span.f16 #{productLines.iDigitalPlatform.en}
        div.container-item.i-product(data-tab="tab4")
          div.f18 #{productLines.iCloudPlatform.name}
          span.f16 #{productLines.iCloudPlatform.en}
      div
        div#tab1.tab-content.block
          div.container.figure.product-figure
            img(src=productLines.iMarketing.img).figure-img
            div.figure-text
              div.figure-title 全链路多业态的智能化营销平台
              span 解决企业在全链路数据化营销上单一业态到多业态营销链路断裂，以及数据应用和业务应用分裂等问题，帮助企业将数据在具体的运用场景中统一。主要服务垂直行业中的中小型行业代理商和代运营商。
            a.link-btn(href=productLines.iMarketing.href) 立即申请 >>
            //a.link-btn(href='customer-info.html') 立即申请 >>
          div.service.container
            div.service-row.flex
              +renderProductItem(iMarketing)
        div.tab-content#tab2
          div.container.figure.product-figure
            img(src=productLines.iSales.img).figure-img
            div.figure-text
              div.figure-title 链接全触点终端场景，建立一体化的渠道运营链路，实现精细化运营
              span 全渠道销售平台，整合企业供应链资源，实现共享，为企业和上下游的销售提供数字化平台支撑，形成全渠道、全业态顾客生态圈的融合。
            a.link-btn(href=productLines.iSales.href) 立即申请 >>
            //a.link-btn(href='customer-info.html') 立即申请 >>
          div.service.container
            div.service-row.flex
              +renderProductItem(iSales)
        div.tab-content#tab3
          div.container.figure.product-figure
            img(src=productLines.iDigitalPlatform.img).figure-img
            div.figure-text
              div.figure-title 赋能企业数字化创新，共享核心业务与技术能力，实现数字化时代用户新体验
              span 基于新一代互联网架构和技术，通过平台化、组件化，以API网关的方式将业务中台和数据中台等服务提供给企业，实现快速开发，灵活扩展，标准化管理，帮助企业快速、低成本实现数字化转型。
            a.link-btn(href=productLines.iDigitalPlatform.href) 立即申请 >>
            //a.link-btn(href='customer-info.html') 立即申请 >>
          div.service.container
            div.service-row.flex
              +renderProductItem(iDigitalPlatform)
        div.tab-content#tab4
          div.container.figure.product-figure
            img(src=productLines.iCloudPlatform.img).figure-img
            div.figure-text
              div.figure-title 统一管控公有云、私有云资源，实现云资源、资产、运维、监控、流程管控的一体化管理
              span 为企业在DT时代提供敏捷（开发）、高效（运维）、精准（运营）的云服务。作为第三代是融合的云服务，通过一体化的整体交付、不仅交付计算资源、存储资源、网络资源还有基础软件、数据库、中间件以及混合云的交付和管理。
            a.link-btn(href=productLines.iCloudPlatform.href) 立即申请 >>
            //a.link-btn(href='customer-info.html') 立即申请 >>
          div.service.container
            div.service-row.flex
              +renderProductItem(iCloudPlatform)
    div.show-case.text-center(style="padding-bottom: 0").solution
      div.show-case-title.white 行业解决方案
      span 数字智能时代，企业转型、消费升级，专注6大行业企业转型解决方案
      div 覆盖300+业务场景全栈解决方案
      div.show-case-content
        div.industry
          each item in solutions
            div.industry-item.dichan(style="background: url(" + item.bgImg + ") #000 center no-repeat; background-size: cover;")
              div.item-name
                i.font_family(class=item.icon)
                p.f24 #{item.title}
              div.item-detail
                p.f24 #{item.title}
                p #{item.desc}
                p.md-text 相关产品
                if item.relativeProducts
                  div.relative-product
                    each d in item.relativeProducts
                      div
                        div.circle
                          i.font_family(class=d.icon)
                        p #{d.desc}
                  a.link-btn(href=item.href) 查看详情
                else
                  div 敬请期待


    div.container.show-case.text-center.pc
      div.show-case-title.dark 客户案例
      span 赋能企业转型，携手企业发展，引领企业创新
      div 目前已支持20家行业龙头企业，帮助企业实现技术革新，提升企业运作效率，降低企业成本
      div.show-case-content
        div.trademark
          -
            var cases = [
            {img: './images/case-detail-maotai-logo.png', desc: '国内独创年代梯级式的产品开发模式。形成了低度、高中低档、极品三大系列200多个规格品种，全方位跻身市场，从而占据了白酒市场制高点，称雄于中国极品酒市场。', href: 'case-detail-maotai.html'},
            {img: './images/case-detail-pg.jpg', desc: '宝洁（P&G）全球员工近110000人。2008年，宝洁公司是世界上市值第6大公司，世界上利润排名第14的公司。它同时是财富500强中第十大最受赞誉的公司。', href: 'case-detail-pg.html'},
            {img: './images/case-detail-unkown.jpg', desc: '目前，NU SKIN如新已在全球近50个地区设有分公司，让销售人员可以在拥有超过32亿潜在顾客的全球市场中发展事业。公司并且还在不断地开发和调整已有的市场，提供更加广阔和稳定的市场环境给全球销售人员', href: 'case-detail-unkown.html'},
            {img: './images/case-detail-changan.jpg', desc: '长安汽车是中国知名汽车制造企业、中国品牌汽车产销累计突破1000万辆的车企,连续10年位于中国品牌汽车销量前茅', href: 'case-detail-changan.html'},
            {img: './images/case-detail-zhupi.jpg', desc: '珠江啤酒集团技术位居我国啤酒行业制高点，环保位居我国工业企业领先水平，总部经济建设为幸福广州添砖加瓦'},
            {img: './images/case-detail-jili.jpg', desc: '',},
            {img: './images/case-detail-gangqin.jpg', desc: '广州珠江钢琴集团股份有限公司（以下简称“珠江钢琴集团”）成立于1956年，是一家集钢琴、数码乐器、音乐教育、文化传媒、互联网科技协同发展的综合乐器文化企业'},
            {img: './images/case-detail-fuli.jpg', desc: '富力集房地产设计、开发、工程监理、销售、物业管理、房地产中介等业务为一体，拥有国家建设部颁发的一级开发资质、甲级设计资质、甲级工程监理资质、一级物业管理资质及一级房地产中介资质,是中国综合实力最强的房地产企业之一', href: 'case-detail-fuli.html'},
            {img: './images/case-detail-yangxiang.jpg', desc: '扬翔集团是一家以饲料业、养猪业、肉食品加工业为主导，兼营育种的现代大型农牧企业。公司致力于为公众提供健康、安全、美味的食品；致力于在母仔猪领域为中小养殖户提供专业、稳定、高效的整体解决方案', href: 'case-detail-yangxiang.html'},
            {img: './images/case-detail-yiqi.jpg', desc: '一汽是国内最大的汽车企业集团之一。2013年营业额达4500亿，曾经连续8年蝉联世界500强榜单。'},
            {img: './images/case-detail-zhengda.jpg', desc: '正大天晴是国内肝病药领域的龙头企业，为国家重点高新技术企业、国家火炬计划连云港新医药产业基地重点骨干企业也是国内仿制药的领先企业', href:'case-detail-zhengda.html'},
            {img: './images/case-detail-huanmaogang.jpg', desc: '富力环贸港,是富力地产集团旗下的大型时尚综合商贸体,提供专业批发市场店铺租赁服务,以及各类时尚产业配套与服装B2B电商平台服务', href: 'case-detail-huanmaogang.html'},
            ]
          each item in cases
            div.placeholder-box
              div.mark-item.text-center
                img(src=item.img).item-img
                div.item-text #{item.desc}
                a(href=item.href).link-btn 了解更多
    div.fixed-btn
      i.font_family.icon-paimaizixun_fuzhi
      div(onclick="location.href='customer-info.html'") 业务咨询
block script
  script.
    $('.i-product').on('click', function (e) {
      var $this = $(this)

      $this.addClass('active').siblings().removeClass('active')

      $('#' + $this.data('tab')).addClass('block').siblings().removeClass('block')
    })
  include ./snippet/slider.jade
  script.

    setInterval(function () {
      slider.next()
    }, 3000)







