extends layout.jade
//- block 紧跟 extends, 不需要缩进
block title
  title 云徙科技
block content
  include var/solutions.jade
  include var/products.jade
  include var/product-lines.jade

  mixin renderProductItem (items)
    each item in items
      a.service-item.flex(href=item.href)
        div
          div.item-flex
            span.title #{item.title}
            if item.label
              span.label(class=item.labelClass) #{item.label}
          span.desc-text #{item.desc}
        i.arrow-right

  div.index
    div.first-sight
      div.container
        h1.huge-text 企业数字化平台，专业级的数字化平台
        div.msg.f24 新品钜惠专享，领券立减
          span.red 1888元
        div: a.link-btn.linear-primary-bg-to-right 立即体验
    include snippet/we-do.jade
    div.divider
    div.show-case.text-center.service-provider
      div.show-case-title.dark 智能时代领先的数字化服务商
      span 赋能企业数字化创新，阿里云战略生态合作伙伴
      div.container.flex.i-product-container
        div.container-item.i-product(data-tab="tab1").active
          div.f18 #{productLines.iMarketing.name}
          span.f16 #{productLines.iMarketing.en}
        div.container-item.i-product(data-tab="tab2")
          div.f18 #{productLines.iSales.name}
          span.f16 #{productLines.iSales.en}
        div.container-item.i-product(data-tab="tab3")
          div.f18 #{productLines.iDigitalPlatform.name}
          span.f16 #{productLines.iDigitalPlatform.en}
        div.container-item.i-product(data-tab="tab4")
          div.f18 #{productLines.iCloudPlatform.name}
          span.f16 #{productLines.iCloudPlatform.en}
      div
        div#tab1.tab-content.block
          div.container.figure.product-figure
            img(src="./images/wechat.png").figure-img
            div.figure-text
              div.figure-title 赋能企业数字化创新    阿里云战略生态合作伙伴
              span 进入DT时代，企业通过技术创新和数据驱动业务发展迫在眉睫，“企业数字化平台”构建立体的客户触点体系，赋能企业新技术、企业数字化和全方位体验转型，快速全方位应对业务场景变化，帮助企业实现技术和数据驱动业务，精细化运营，降本增效。
            a.link-btn(href=productLines.iMarketing.href) 立即试用 >>
          div.service.container
            div.service-row.flex
              +renderProductItem(iMarketing)
        div.tab-content#tab2
          div.container.figure.product-figure
            img(src="./images/wechat.png").figure-img
            div.figure-text
              div.figure-title 赋能企业数字化创新    阿里云战略生态合作伙伴
              span 进入DT时代，企业通过技术创新和数据驱动业务发展迫在眉睫，“企业数字化平台”构建立体的客户触点体系，赋能企业新技术、企业数字化和全方位体验转型，快速全方位应对业务场景变化，帮助企业实现技术和数据驱动业务，精细化运营，降本增效。
            a.link-btn(href=productLines.iSales.href) 立即试用 >>
          div.service.container
            div.service-row.flex
              +renderProductItem(iSales)
        div.tab-content#tab3
          div.container.figure.product-figure
            img(src="./images/wechat.png").figure-img
            div.figure-text
              div.figure-title 赋能企业数字化创新    阿里云战略生态合作伙伴
              span 进入DT时代，企业通过技术创新和数据驱动业务发展迫在眉睫，“企业数字化平台”构建立体的客户触点体系，赋能企业新技术、企业数字化和全方位体验转型，快速全方位应对业务场景变化，帮助企业实现技术和数据驱动业务，精细化运营，降本增效。
            a.link-btn(href=productLines.iDigitalPlatform.href) 立即试用 >>
          div.service.container
            div.service-row.flex
              +renderProductItem(iDigitalPlatform)
        div.tab-content#tab4
          div.container.figure.product-figure
            img(src="./images/wechat.png").figure-img
            div.figure-text
              div.figure-title 赋能企业数字化创新    阿里云战略生态合作伙伴
              span 进入DT时代，企业通过技术创新和数据驱动业务发展迫在眉睫，“企业数字化平台”构建立体的客户触点体系，赋能企业新技术、企业数字化和全方位体验转型，快速全方位应对业务场景变化，帮助企业实现技术和数据驱动业务，精细化运营，降本增效。
            a.link-btn(href=productLines.iCloudPlatform.href) 立即试用 >>
          div.service.container
            div.service-row.flex
              +renderProductItem(iCloudPlatform)
    div.show-case.text-center(style="padding-bottom: 0").solution
      div.show-case-title.white 行业解决方案
      span 数字智能时代，企业转型、消费升级，专注6大行业企业转型解决方案覆盖300+业务场景全栈解决方案
      div.show-case-content
        div.industry
          each item in solutions
            div.industry-item.dichan
              div.item-name
                i.font_family(class=item.icon)
                p.f24 #{item.title}
              div.item-detail
                p.f24 #{item.title}
                p #{item.desc}
                p.md-text 相关产品
                if item.relativeProducts
                  div.relative-product
                    each d in item.relativeProducts
                      div
                        div.circle
                          i.font_family(class=d.icon)
                        p #{d.desc}
                  a.link-btn(href=item.href) 查看详情
                else
                  div 敬请期待


    div.container.show-case.text-center
      div.show-case-title.dark 客户案例
      span 目前已支持20家行业龙头企业，帮助企业实现技术革新，提升企业运作效率，降低企业成本
      div.show-case-content
        div.trademark
          -
            var cases = [
            {img: './images/case-detail-maotai-logo.png', desc: '占据了白酒市场制高点，称雄于中国品占据了白酒市场制高点，称雄于中国极品酒市场酒市场占据了白酒市场制高点，称雄于中国品。', href: 'case-detail-maotai.html'},
            {img: './images/case-detail-pg.jpg', desc: '', href: 'case-detail-pg.html'},
            {img: './images/case-detail-unkown.jpg', desc: '', href: 'case-detail-unkown.html'},
            {img: './images/case-detail-changan.jpg', desc: '', href: 'case-detail-changan.html'},
            {img: './images/case-detail-zhupi.jpg', desc: '', href: 'case-detail-zhupi.html'},
            {img: './images/case-detail-jili.jpg', desc: '', href: 'case-detail-jili.html'},
            {img: './images/case-detail-gangqin.jpg', desc: '', href: 'case-detail-gangqin.html'},
            {img: './images/case-detail-fuli.jpg', desc: '', href: 'case-detail-fuli.html'},
            {img: './images/case-detail-yangxiang.jpg', desc: '', href: 'case-detail-yangxiang.html'},
            {img: './images/case-detail-yiqi.jpg', desc: '', href: 'case-detail-yiqi.html'},
            {img: './images/case-detail-zhengda.jpg', desc: '', href:'case-detail-zhengda.html'},
            {img: './images/case-detail-hengfu.jpg', desc: '', href: 'case-detail-hengfu.html'},
            ]
          each item in cases
            div.placeholder-box
              div.mark-item.text-center
                img(src=item.img).item-img
                div.item-text #{item.desc}
                a(href=item.href).link-btn 了解更多
    div.fixed-btn
      i.font_family.icon-paimaizixun_fuzhi
      div(onclick="location.href='customer-info.html'") 业务咨询
block script
  script.
    $('.i-product').on('click', function (e) {
      var $this = $(this)

      $this.addClass('active').siblings().removeClass('active')

      $('#' + $this.data('tab')).addClass('block').siblings().removeClass('block')
    })







