doctype html
html
  head
    block title
      title title
    meta(charset='UTF-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport' content='width=device-width, initial-scale=1.0, user-scalable=no, shrink-to-fit=no')
    meta(name='description' content="云徒科技官网")
    link(rel='icon' type='image/png' href='./images/favicon.png')
    //- ==================================================
    //- Webapp
    //- ==================================================

    // link(rel='apple-touch-icon' sizes='180x180' href='/favicon/apple-touch-icon.png')
    // link(rel='icon' type='image/png' href='/favicon/favicon-16x16.png' sizes='16x16')
    // link(rel='mask-icon' href='/favicon/safari-pinned-tab.svg' color='#5bbad5')

    //- ==================================================
    //- Stylesheets
    //- ==================================================

    link(rel="stylesheet" href="https://cdn.bootcss.com/normalize/8.0.0/normalize.min.css")
    link(rel="stylesheet" href="https://at.alicdn.com/t/font_584589_817mdorp3f2yb9.css")
    link(rel="stylesheet" href="css/main.css")
    // 暂时不适配移动端
    // link(rel="stylesheet" href="https://cdn.bootcss.com/spectre.css/0.5.1/spectre.min.css")
    block link

  include var/solutions.jade
  include var/products.jade
  include var/product-lines.jade

  mixin renderProductItem (items)
    each item in items
      a.product-item(href=item.href)
        div
          sapn.item-title #{item.title}
          if item.label
            span.label(class=item.labelClass) #{item.label}
        span.small-text #{item.desc}
  mixin renderProductLink (items)
    each item in items
      a.product-link(href=item.href) #{item.title}

  body
    header.navbar
      a.logo(href="index.html")
        img(src="../images/logo.png").logo-img
      div.navbar-section.pc
        div.nav-item
          a.nav-item-link(href="index.html") 首页
        div.nav-item
          a.nav-item-link() 产品
        div.product-menu.flex
          div.product-box
            a.product-title(href=productLines.iMarketing.href)
              span.md-text #{productLines.iMarketing.name}
              span.small-text.primary-color #{productLines.iMarketing.en}
            +renderProductItem(iMarketing)
          div.product-box
            a.product-title(href=productLines.iSales.href)
              span.md-text #{productLines.iSales.name}
              span.small-text.primary-color #{productLines.iSales.en}
            +renderProductItem(iSales)
          div.product-box
            a.product-title(href=productLines.iDigitalPlatform.href)
              span.md-text #{productLines.iDigitalPlatform.name}
              span.small-text.primary-color #{productLines.iDigitalPlatform.en}
            +renderProductItem(iDigitalPlatform)
          div.product-box
            a.product-title(href=productLines.iCloudPlatform.href)
              span.md-text #{productLines.iCloudPlatform.name}
              span.small-text.primary-color #{productLines.iCloudPlatform.en}
            +renderProductItem(iCloudPlatform)
        div.nav-item
          a.nav-item-link() 解决方案
        div.product-menu.flex
          each item in solutions
            div.product-box
              a.product-item(href=item.href)
                div
                  sapn.item-title #{item.title}
                span.small-text #{item.desc}
        div.nav-item
          a.nav-item-link 开放平台
        div.product-menu.flex
          div.product-box
            a.product-item(href="platform-check-in.html")
              div
                sapn.item-title 平台接入
              span.small-text 快速构建开发平台
        div.nav-item
          a.nav-item-link(href="cooperation.html") 合作与生态
        div.nav-item
          a.nav-item-link(href="customer-info.html") 联系我们
      //div
        a.nav-item(href="login.html") 登录
        a(href="register.html").btn 免费注册

    block content

      //- ==================================================
      //- Put your content here
      //- ==================================================


    //- ==================================================
    //- Scripts
    //- ==================================================
    footer#footer
      div.container
        div.feature
          div.feature-item
            i.font_family.icon-yewutubiaopei_fuzhi
            div
              p.md-text 故障赔付
              span 故障先行赔付
          div.feature-item
            i.font_family.icon-jiaoyupeixun_fuzhi
            div
              p.md-text 免费培训
              span 定期免费培训
          div.feature-item
            i.font_family.icon-viphuiyuanhuangguan_fuzhi
            div
              p.md-text VIP服务
              span 一对一尊享服务
          div.feature-item
            i.font_family.icon-xiaoshiqiantai_fuzhi
            div
              p.md-text 7*8
              span 7*8小时在线服务
        div.product
          div.product-item
            a.md-text.product-link(href=productLines.iMarketing.href) #{productLines.iMarketing.name}
            +renderProductLink(iMarketing)
          div.product-item
            a.md-text.product-link(href=productLines.iSales.href) #{productLines.iSales.name}
            +renderProductLink(iSales)
          div.product-item
            a.md-text.product-link(href=productLines.iDigitalPlatform.href) #{productLines.iDigitalPlatform.name}
            +renderProductLink(iDigitalPlatform)
          div.product-item
            a.md-text.product-link(href=productLines.iCloudPlatform.href) #{productLines.iCloudPlatform.name}
            +renderProductLink(iCloudPlatform)
          div.product-item
            p.md-text 关注我们
            figure
              img(src="./images/qrcode-product.jpg").qrcode
              div 云徙产品官方交流群
            figure
              img(src="./images/qrcode-cooperation.jpg").qrcode
              div 云徙合作伙伴官方交流群
        //a(target="_blank" href="http://www.dtyunxi.com/html/aboutus-company.html") 关于云徒科技
        //a(target="_blank" href="http://www.dtyunxi.com/index.php?m=content&c=index&a=lists&catid=16") 云徒研习社
        //a(target="_blank" href="http://www.dtyunxi.com/html/aboutus-jobs.html") 加入我们
      div.copyright-row
        div.container.flex
          div
            a(target="_blank" href="http://www.dtyunxi.com/html/aboutus-company.html").gray-link 关于云徙科技 &nbsp; &nbsp;| &nbsp;&nbsp;
            a(target="_blank" href="http://www.dtyunxi.com/index.php?m=content&c=index&a=lists&catid=16").gray-link 云栖研习社 &nbsp;&nbsp; | &nbsp;&nbsp;
            a(target="_blank" href="http://www.dtyunxi.com/html/aboutus-jobs.html").gray-link 加入我们
          div Copyright © 2018 云徙科技有限公司, All Rights Reserved 浙ICP备16028793号
    script(src="https://cdn.bootcss.com/zepto/1.2.0/zepto.min.js")
    script(src="js/main.js")
    block script
